
/*background color and pics*/
    body {
        background-image: url("../../assets/pics/banner.jpg");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 1500px 250px;
         }
/*titles*/
    h1   {
        text-align: center;
        
         }
